<header id="home">
    <nav class="navbar">
        <a class="logotype-container" href="#home">
            <img src="/assets/image/logotype.png" alt="logotype">
        </a>
        
        <ul class="menu">
            <button id="theme-switch">
                <img src="/assets/icons/moon-svgrepo-com.svg" alt="moon-icon">
                <img src="/assets/icons/sun-2-svgrepo-com.svg" alt="sun-icon">
            </button>
            <li><a href="#home">Home</a></li>
            <li><a href="#project">Proyectos</a></li>
            <li><a href="#skills">Habilidades</a></li>
            <li><a href="#about">Sobre mi</a></li>
            <li><a href="#info">Info</a></li>
        </ul>
    </nav>
</header>