<main>
    <section class="main__container" id="home">
        <p class="greeting"><%= __('greeting') %></p>
        <h1 class="intro">
             <%- __('intro') %> 
        </h1>
        <div class="main__text-container">
            <p class="description">
                <%= __('description') %>
            </p>
            <button class="contact-btn">
                <%= __('contact') %> <i><img src="/assets/icons/arrow_forward.svg" alt="arrow icon"></i>
            </button>
        </div>
    </section>
    <section class="project__section">

    </section>
</main>
