<main>
    <section class="main__container" id="home">
        <p class="greeting">Hi, I'm Franklyn...</p>
        <h1 class="intro">
            A <span class="highlight">{Backend}</span> Developer
        </h1>
        <div class="main__text-container">
            <p class="description">
                I specialize in building robust software solutions that help businesses achieve their goals more efficiently.
            </p>
            <button class="contact-btn">
                Contact Me <i><img src="/assets/icons/arrow_forward.svg" alt="arrow icon"></i>
            </button>
        </div>
    </section>
    <section class="project__section">
        
    </section>
</main>
